
<div class="bot">
    <h3>Danh sách Tin Tức</h3>
    <!-- <p-dropdown  [options]="top" [(ngModel)]="selectedTT"   placeholder="{{selectedTT}}" (onClick)="select()">
            
    </p-dropdown> -->

    <div class="top1">
        <p-dropdown [style]="{'width': '64%'}" [options]="new" [(ngModel)]="selectedTT" optionLabel="maTinTuc" [filter]="true" filterBy="maTinTuc"
        [showClear]="true" placeholder="Mã Tin Tức" class="p-inputtext-sm1">
            <ng-template pTemplate="selectedItem">
                <div class="country-item country-item-value" *ngIf="selectedTT">
                    <div>{{selectedTT.maTinTuc}}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>

    <table class="table table-hover">
        <thead>
            <th>STT</th>
            <th>Mã Tin Tức</th>
            <th style="width: 370px">Tiêu Đề</th>
            <th style="width: 400px">Nội Dung</th>
            <th>Trạng Thái</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of new, index as i">
                <td style="text-align: left;">{{i+1}}</td>
                <td style="text-align: left;">{{item.maTinTuc}}</td>
                <td style="text-align: left;">{{item.tieuDe}}</td>
                <td style="text-align: left;">{{item.noiDung}}</td>
                <td style="text-align: center;">
                    <i class="fa fa-eye"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div style="position: relative;margin-left: 40%;">
        <ngb-pagination [collectionSize]="selectedTT" [pageSize]="10" [(page)]="page" [maxSize]="3" [rotate]="true"
            (pageChange)="loadPage($event)">
        </ngb-pagination>
    </div>
</div>